*{
  padding-left: 500px;
}







.App {

    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
  
    margin: 0 auto;

   
  }

 

  /* div.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid #73AD21;
  } */
    
  table {
    border: 3px solid rgb(46, 98, 146);
    width: 800px;
    height: 200px;
    top: 200px;
    left: 300px;
    margin-left: auto;
    margin-right: auto;
  }
    
  th {
    border-bottom: 1px solid rgb(46, 98, 146);
  }
    
  td {
    text-align: center;
    color: rgb(36, 34, 34);
  }